.App {
    height: 500px;
    width: 100%;
  }
  
  .map-container {
    height: 100%;
    width: 100%;
  }
  .contactus h1{
    color: #033A63;
    font-weight: 700;
  }
  .contactus h5{
    color: #033A63;
    font-size: 20px;
  }

  .contactheading h1{
    color: #FFC205;
    text-align: center;
    font-weight: 900;
  }

  input{
    background: transparent !important;
    color: white !important;
  }
  input::placeholder{
    color: grey !important;
  }
  textarea{
    background: transparent !important;
    color: white !important;
  }
  textarea::placeholder{
    color: grey !important;
  }
  .calendly h2{
    color: #FFC205;
    font-weight: 900;

  }
  .calendly p{
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
    color: white;
  }

  .contact-text{
    color: white !important;
  }
  .social svg{
    fill: white !important;
  }
  .social svg:hover{
    fill: #FFC205 !important;
  }
.meeting{
  width: 30%;
  margin: auto;
}
.meeting h1{
  font-size: 40px;
  color: white;
  font-weight: 900 !important;
}
.meeting p{
  font-size: 20px;
  color: #FFC205;
  font-weight: 600 !important;
}
.location h3{
  font-size: 36px !important;
  color: #FFC205;
  font-weight: 700 !important;
  text-align: left;
}
@media only screen and (max-width: 768px)  {
  .meeting{
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .meeting h1{
    font-size: 30px;
    color: white;
    font-weight: 900 !important;
  }
  .meeting p{
    font-size: 18px;
    color: #FFC205;
    font-weight: 600 !important;
  }
  .calendly{
    text-align: center;

  }

}
.general{
  color: #FFC205;
}






.imageholder{
  background-image: url("https://res.cloudinary.com/dazktwghd/image/upload/v1700235034/semantic-tribe/contactbg.gif");
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 80px;
}

.caption{
  color: #fff !important;
}
.caption h1{
  font-family: "Changa", Sans-serif;
  font-size: 62px;
  font-weight: 700;
  text-align: center;
}
.ceo-rounded{
  transition: transform .7s ease-in-out;
}
.ceo-rounded:hover {
  transform: rotate(10deg);
}
@media only screen and (max-width: 768px) {
  .imageholder{
      
      padding-top: 90px;
      padding-bottom: 40px;
  }
  
  .caption h1{
      font-size: 46px;
  }
}



.custom-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #FFC205;
}

.btn-5 {
  width: 150px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-5 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-5:before,
.btn-5:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #FFC205;
  transition: all 0.3s ease;
}
.btn-5:before {
  height: 50%;
  width: 2px;
}
.btn-5:after {
  width: 20%;
  height: 2px;
}
.btn-5:hover:before {
  height: 100%;
}
.btn-5:hover:after {
  width: 100%;
}
.btn-5 span:before,
.btn-5 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #FFC205;
  transition: all 0.3s ease;
}
.btn-5 span:before {
  width: 2px;
  height: 50%;
}
.btn-5 span:after {
  width: 20%;
  height: 2px;
}
.btn-5 span:hover:before {
  height: 100%;
}
.btn-5 span:hover:after {
  width: 100%;
 
}
.btn-5:hover {
  /* background-color: #FFC205; */
  color: #FFC205;
}