:root {
  --primary-color: #002338;
  --secondary-color: #d7ba89;
}
html {
  scroll-behavior: smooth;
}
.herobg {
  background-color: var(--primary-color);
}
.herosecond {
  color: var(--secondary-color);
}
.btn-mailing {
  background-color: transparent;
  border: 1px solid var(--secondary-color) !important;
  padding: 10px 20px !important;
  color: var(--secondary-color) !important;
  font-weight: 600 !important;
  letter-spacing: 1.2;
}

.btn-mailing:hover {
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  padding: 10px 20px !important;
  color: black !important;
}

.navbar {
  transition: background-color 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

.nav-link .active {
  color: var(--secondary-color) !important;
  transition: color 0.3s;
}
.nonactive {
  color: grey !important;
  transition: color 0.3s;
}
.nav-link-wrapper {
  position: relative;
  display: inline-block;
}
.active {
  color: var(--secondary-color) !important;
  font-weight: 700 !important;
  transition: 0.2s;
}

.active .underline {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--secondary-color);
  bottom: -3px !important;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link-wrapper:hover .underline {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.offcanvas {
  background-color: var(--primary-color) !important;
  width: 300px !important;
}
.offcanvas .nav-link {
  color: white !important;
  border-bottom: 2px solid var(--secondary-color);
}
.offcanvas .nav {
  width: 100%;
  display: block !important;
}
.offcanvas .activenav {
  color: var(--secondary-color) !important;
}
.offcanvas .offcanvas-title {
  color: var(--secondary-color) !important;
}
.offcanvas-header .btn-close {
  background-color: var(--secondary-color) !important;
  opacity: 1 !important;
}
.activesidebar{
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}

.counterbg {
  background: var(--primary-color);
  color: var(--secondary-color);
}

@media only screen and (max-width: 992px) {
  .navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  .navbar-toggler {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
  }
}

@media only screen and (min-width: 992px) {
  .sidenav {
    display: none !important;
  }
  .hireus {
    display: none !important;
  }
}

.capabilities h2 {
  color: var(--primary-color);
  font-weight: 700;
}

.hireus {
  position: absolute;
  position: fixed;
  right: 3%;
  bottom: 8%;
  z-index: 6000;
  animation: zoom-in-zoom-out 1s ease infinite;
}
.hireus button {
  background-color: var(--secondary-color);
  color: #001522;
  border: none;
  padding: 15px;
  border-radius: 60px;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.footertext:hover {
  fill: var(--secondary-color);
}

.footer-bottom {
  background-color: var(--primary-color) !important;
  border-top: 2px solid var(--secondary-color);
  color: white !important;
}
.footer {
  background-color: var(--primary-color) !important;
}

@media only screen and (max-width: 576px) {
  #tsparticles {
    height: 75vh;
  }
  .text-container {
    position: absolute;
    top: 40% !important;
    left: 0% !important;
    right: 0;
    /* width: 100% !important; */
    text-align: center;
  }

  .text-container h1 {
    font-size: 30px !important;
    color: white;
    font-weight: 800;
  }

  .text-container p {
    font-size: 18px !important;
    color: white;
    font-weight: 600;
  }
}

#tsparticles {
  height: 60vh;
}

#particles-container {
  position: relative;
}

.text-container {
  position: absolute;
  top: 20%;
  left: 8%;
  width: auto;
}

.text-container h1 {
  font-size: 80px;
  color: white;
  font-weight: 800;
}

.text-container p {
  font-size: 12px;
  color: white;
  font-weight: 500;
}

/* Who we are start */
.who h2 {
  color: var(--primary-color);
  font-weight: 700;
}

.who p {
  text-align: justify;
  padding: 10px 0;
  font-size: 18px;
}

/* WHo we are end */

/* capabilities Start */

.capabilities-card h5 {
  font-weight: 500 !important;
  font-size: 20px !important;
}

/* Capabilities End */

/* Flip card start */

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  border-radius: 10px;
  color: var(--primary-color);
  cursor: pointer;
}

.flip-card-back {
  background-color: var(--primary-color);
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
  cursor: pointer;
}

/* Flip card end */

/* Honey Bee section added */

.honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  /* transform: translateY(34.375px); */
  position: relative;
}

.outercomb {
  position: relative;
}

.honeycomb-cell {
  flex: 0 1 250px;
  max-width: 250px;
  height: 137.5px;
  margin: 65.4761904762px 12.5px 25px;
  position: relative;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}

.honeycomb-cell__title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  transition: opacity 350ms;
}

.honeycomb-cell__title > small {
  font-weight: 300;
  margin-top: 0.25em;
}

.honeycomb-cell__image {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.honeycomb-cell::before,
.honeycomb-cell::after {
  content: "";
}

.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell__image {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}

.honeycomb-cell::before {
  background: #fff;
  transform: scale(1.055);
}

.honeycomb-cell::after {
  background: black;
  opacity: 0.8;
  transition: opacity 350ms;
  transition: 0.3s;
}

.honeycomb-cell:hover .honeycomb-cell__title {
  opacity: 0;
}

.honeycomb-cell:hover::before {
  background: var(--primary-color);
}

.honeycomb-cell:hover::after {
  opacity: 0;
}

.honeycomb__placeholder {
  display: none;
  opacity: 0;
  width: 250px;
  margin: 0 12.5px;
}

@media (max-width: 550px) {
  .honeycomb-cell {
    margin: 81.25px 25px;
  }
}

@media (min-width: 550px) and (max-width: 825px) {
  .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - 125px);
    margin-left: calc(50% - 125px);
  }

  .honeycomb__placeholder:nth-child(3n + 5) {
    display: block;
  }
}

@media (min-width: 825px) and (max-width: 1100px) {
  .honeycomb-cell:nth-child(5n + 4) {
    margin-left: calc(50% - 275px);
  }

  .honeycomb-cell:nth-child(5n + 5) {
    margin-right: calc(50% - 275px);
  }

  .honeycomb__placeholder:nth-child(5n),
  .honeycomb__placeholder:nth-child(5n + 3) {
    display: block;
  }
}

@media (min-width: 1100px) {
  .honeycomb-cell:nth-child(7n + 5) {
    margin-left: calc(50% - 400px);
  }

  .honeycomb-cell:nth-child(7n + 7),
  .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
    margin-right: calc(50% - 400px);
  }

  .honeycomb__placeholder:nth-child(7n + 7),
  .honeycomb__placeholder:nth-child(7n + 9),
  .honeycomb__placeholder:nth-child(7n + 11) {
    display: block;
  }
}

/* Honey Bee section ended */

.projects {
  overflow: hidden;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  border-radius: 25px;
}

.projects .zoomin:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  border-radius: 25px;
}

.projects .zoomin {
  transform: scale(1);
  transition: transform 0.5s;
}
.imagewrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 25px;
}
.projects h5 {
  font-size: 20px !important;
  font-weight: 600 !important;
}

/* View all case studies button start */

.contact-card {
  background-color: var(--primary-color) !important;
  border-radius: 8px !important;
  box-shadow: 4px 4px 4px 4px rgba(0, 35, 56, 0.1) !important;
}
.contact-card input {
  background-color: transparent !important;
  color: white !important;
}
.contact-card input::placeholder {
  color: grey !important;
}
.contact-card textarea::placeholder {
  color: grey !important;
}
.contact-card textarea {
  background-color: transparent !important;
  color: white !important;
}

.coming-soon {
  font-size: 22px;
}

.btn-vision {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  padding: 10px 20px !important;
  color: var(--secondary-color) !important;
  font-weight: 600 !important;
  letter-spacing: 1.2;
}


.logotext{
  color: var(--secondary-color) !important;
  font-weight: 700;
}
.footer-logo{
  font-size:40px;
  color: var(--secondary-color);
  font-weight: 800;
  letter-spacing:2px;
}

.footerheading{
  letter-spacing: "1.2px";
  line-height: "1.2";
  padding: "20px 0";
  font-size: 26px;
  color: var(--secondary-color);
  font-weight: 700;
  
}
.image-enlarge{
  background-color: rgba(0,0,0,0.7);
}

.image-enlarge .modal-content{
background-color: transparent!important;
border:none;
}
.image-enlarge .modal-header{
  
  border: none;
  }
  .modal-header .btn-close{
    /* background-image: url(../assets/close.svg)!important; */
background-color: var(--secondary-color) !important;
fill: var(--secondary-color) !important;
  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }