
.navbar {
  transition: background-color 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  
}

.nav-link.active {
  color: #FFB300  !important;
  transition: color 0.3s; 
}
.nav-link-wrapper {
  position: relative;
  display: inline-block;
}
.activenav{
  color: #FFB300 !important;
  font-weight: 700 !important;
  transition: 0.2s;
}
.activenav .underline{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #FFB300;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link-wrapper:hover .underline {
  transform: scaleX(1);
  transform-origin: bottom left;
}




@media only screen and (max-width: 992px)  {

.navbar-toggler:focus{
  box-shadow: none !important;
  outline: none !important;
}

.navbar-toggler{
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #002338;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
  z-index: 2000;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  /* transition: 1.3s; */
}

.sidenav a:hover{
  color: #f1f1f1;
}
.nav-item{
  list-style-type: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 64px;
  margin-left: 50px;
  line-height: 1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media only screen and (min-width: 992px)  {
  .sidenav{
    display: none !important;
  }
  .hireus{
    display: none !important;
  }
  
}




.capabilities h2 {
  color: #002338;
  font-weight: 700;

}

.hireus{
  position: absolute;
  position: fixed;
  right: 3%;
  bottom: 8%;
  z-index: 6000;
  animation: zoom-in-zoom-out 1s ease infinite;
}
.hireus button{
  background-color: #FFB300;
  color: #001522;
  border: none;
  padding: 15px;
  border-radius: 60px;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.footertext:hover{
  fill: #FFB300;
}